@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pages_section {
  width: 100%;
  background-color: white;
  height: auto;
  padding: 80px 120px;
}

.pages_section_container {
  width: 100%;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.pages_section_container h1 {
  color: #333;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 3.1rem;
  width: 100%;
  font-family: 'Playfair Display', serif;
}

.pages_section_container img {
  width: 100%;
  /* height: 650px; */
  overflow: hidden;
  border-radius: 30px;
}

.pages_section_complete {
  margin-top: 40px;
}

.pages_section_complete h2 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.pages_section_complete p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 16px;
  font-family: "Helvetica Neue", sans-serif;
}

.pages_section_all_text {
  padding-left: 10px;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  width: 100%;
}

.pages_section_text {
  margin-bottom: 20px;
}

.pages_section_text h2 {
  font-size: 1rem;
  font-weight: bold;
  display: inline;
}

.pages_section_text p {
  display: inline;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}